.git
.github
.venv
venv

__pycache__/
*.py[cod]
.pytest_cache/
.coverage
coverage.xml
htmlcov/

.env
.env.*
*.example

dados/
dados/*.db
backups/
tests/
docs/

*.zip
*.pdf
*.docx
*.md

requirements-dev.txt
pytest.ini
pyproject.toml
compose.yaml
render*.yaml
carros.py
