POSTGRES_DB=locadora
POSTGRES_USER=locadora_app
POSTGRES_PASSWORD=coloque_uma_senha_exclusiva_aqui
POSTGRES_PORT=5433

LOCADORA_ADMIN_USUARIO=admin
LOCADORA_ADMIN_SENHA=coloque_outra_senha_forte_aqui
LOCADORA_JWT_SECRET=coloque_uma_chave_secreta_longa_aqui
API_PORT=8000