LOCADORA_ADMIN_USUARIO=admin
LOCADORA_ADMIN_SENHA=coloque_uma_senha_aqui
LOCADORA_JWT_SECRET=coloque_uma_chave_secreta_aqui
LOCADORA_DATABASE_URL=sqlite:///dados/locadora.db

LOCADORA_EMAIL_SMTP_HOST=smtp.gmail.com
LOCADORA_EMAIL_SMTP_PORT=587
LOCADORA_EMAIL_USUARIO=Seu@gmail.com
LOCADORA_EMAIL_SENHA=SuaSenha
LOCADORA_EMAIL_REMETENTE=Seu@gmail.com
#  NOME APP: Locadora API
