# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest / Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Variáveis de ambiente
.env
.env.docker

# Banco local
dados/*.db

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
